In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [48]:
df=pd.read_csv("C:/Users/ARAVINDH/Downloads/Fraud_check.csv")
df.head(3)

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES

In [49]:
df.loc[df['Taxable.Income'] <=30000,'Taxable_Income']= 'Risky'
df.loc[df['Taxable.Income'] >30000,'Taxable_Income']= 'Good'

In [50]:
df.drop('Taxable.Income',1,inplace=True)

In [51]:
df.head(3)

,Undergrad,Marital.Status,City.Population,Work.Experience,Urban,Taxable_Income
0,NO,Single,50047,10,YES,Good
1,YES,Divorced,134075,18,YES,Good
2,NO,Married,160205,30,YES,Good

In [52]:
df['Marital.Status'].value_counts()

Single      217
Married     194
Divorced    189
Name: Marital.Status, dtype: int64

In [53]:
df['Undergrad'].value_counts()

YES    312
NO     288
Name: Undergrad, dtype: int64

In [54]:
df['Urban'].value_counts()

YES    302
NO     298
Name: Urban, dtype: int64

In [ ]:
#Marital.Status,Undergrad,Urban columns are in categorical format.So,label these three.

In [55]:
label_encoder=preprocessing.LabelEncoder() 
df['Marital.Status']=label_encoder.fit_transform(df['Marital.Status']) 
df['Marital.Status'].unique()
df['Undergrad']= label_encoder.fit_transform(df['Undergrad']) 
df['Undergrad'].unique() 
df['Urban']= label_encoder.fit_transform(df['Urban']) 
df['Urban'].unique()

array([1, 0])

In [56]:
df.head(3)

,Undergrad,Marital.Status,City.Population,Work.Experience,Urban,Taxable_Income
0,0,2,50047,10,1,Good
1,1,0,134075,18,1,Good
2,0,1,160205,30,1,Good

In [57]:
colname=list(df.columns)
colname

['Undergrad',
 'Marital.Status',
 'City.Population',
 'Work.Experience',
 'Urban',
 'Taxable_Income']

In [58]:
x=colname[0:5]
y=colname[5]

In [59]:
x

['Undergrad', 'Marital.Status', 'City.Population', 'Work.Experience', 'Urban']

In [60]:
y

'Taxable_Income'

In [61]:
x1=df[x]
y1=df[y]

In [ ]:
#Random Forest

In [62]:
random=RandomForestClassifier(n_jobs=2,oob_score=True,n_estimators=1000,criterion="entropy")
random.fit(x1,y1)

RandomForestClassifier(criterion='entropy', n_estimators=1000, n_jobs=2,
                       oob_score=True)

In [63]:
df['prediction'] = random.predict(x1)

In [64]:
df.head()

,Undergrad,Marital.Status,City.Population,Work.Experience,Urban,Taxable_Income,prediction
0,0,2,50047,10,1,Good,Good
1,1,0,134075,18,1,Good,Good
2,0,1,160205,30,1,Good,Good
3,1,2,193264,15,1,Good,Good
4,0,1,27533,28,0,Good,Good

In [ ]:
#Confusion matrix

In [66]:
confusion_matrix(df['Taxable_Income'],df['prediction'])

array([[476,   0],
       [  0, 124]], dtype=int64)

In [ ]:
#BAGGING

In [67]:
seed = 3
kfold = KFold(n_splits=10, random_state=seed)

C:\Users\ARAVINDH\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(

In [68]:
cart = DecisionTreeClassifier()
num_trees = 10

In [69]:
model=BaggingClassifier(base_estimator=cart, n_estimators=num_trees, random_state=seed)

In [71]:
results=cross_val_score(model,x1,y1,cv=kfold)

In [72]:
print(results.mean())

0.74

In [ ]:
#ADABOOST

In [73]:
from sklearn.ensemble import AdaBoostClassifier

In [74]:
num_trees = 10
seed=7
kfold = KFold(n_splits=10, random_state=seed)

C:\Users\ARAVINDH\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(

In [76]:
model1= AdaBoostClassifier(n_estimators=num_trees, random_state=seed)
results2= cross_val_score(model1,x1,y1,cv=kfold)

In [77]:
print(results2.mean())

0.7916666666666666

In [ ]:
#ADABOOST GIVE A BETTER RESULT IN THIS DATASET