In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [3]:
train=pd.read_csv("C:/Users/ARAVINDH\Downloads/SalaryData_Train (2).csv")
test=pd.read_csv("C:/Users/ARAVINDH/Downloads/SalaryData_Test (1).csv")

In [5]:
df=pd.merge(train,test,)
df.head(3)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
1,19,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
2,19,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5910 entries, 0 to 5909
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            5910 non-null   int64
 1   workclass      5910 non-null   object
 2   education      5910 non-null   object
 3   educationno    5910 non-null   int64
 4   maritalstatus  5910 non-null   object
 5   occupation     5910 non-null   object
 6   relationship   5910 non-null   object
 7   race           5910 non-null   object
 8   sex            5910 non-null   object
 9   capitalgain    5910 non-null   int64
 10  capitalloss    5910 non-null   int64
 11  hoursperweek   5910 non-null   int64
 12  native         5910 non-null   object
 13  Salary         5910 non-null   object
dtypes: int64(5), object(9)
memory usage: 692.6+ KB

In [7]:
df.shape

(5910, 14)

In [8]:
df.workclass.unique()

array([' Private', ' Local-gov', ' Federal-gov', ' Self-emp-inc',
       ' Self-emp-not-inc', ' State-gov'], dtype=object)

In [11]:
label_encoder = preprocessing.LabelEncoder() 
df['workclass']= label_encoder.fit_transform(df['workclass'])

In [12]:
df.education.unique()

array([' HS-grad', ' Some-college', ' Masters', ' Bachelors', ' 11th',
       ' 1st-4th', ' Assoc-acdm', ' Assoc-voc', ' 10th', ' 7th-8th',
       ' 9th', ' 12th', ' 5th-6th', ' Prof-school', ' Doctorate',
       ' Preschool'], dtype=object)

In [13]:
label_encoder = preprocessing.LabelEncoder() 
df['education']= label_encoder.fit_transform(df['education'])

In [14]:
df.occupation.unique()

array([' Handlers-cleaners', ' Craft-repair', ' Machine-op-inspct',
       ' Transport-moving', ' Other-service', ' Prof-specialty',
       ' Exec-managerial', ' Sales', ' Adm-clerical', ' Tech-support',
       ' Protective-serv', ' Farming-fishing'], dtype=object)

In [15]:
label_encoder = preprocessing.LabelEncoder() 
df['occupation']= label_encoder.fit_transform(df['occupation'])

In [16]:
df.relationship.unique()

array([' Not-in-family', ' Own-child', ' Husband', ' Wife', ' Unmarried',
       ' Other-relative'], dtype=object)

In [19]:
df.race.unique()

array([' White', ' Black', ' Asian-Pac-Islander'], dtype=object)

In [20]:
df.sex.unique()

array([' Male', ' Female'], dtype=object)

In [21]:
df.native.unique()

array([' United-States', ' Mexico', ' Philippines', ' Jamaica'],
      dtype=object)

In [22]:
df.maritalstatus.unique()

array([' Divorced', ' Never-married', ' Married-civ-spouse', ' Separated',
       ' Widowed'], dtype=object)

In [24]:
label_encoder = preprocessing.LabelEncoder() 
df['relationship']= label_encoder.fit_transform(df['relationship'])
df['sex']= label_encoder.fit_transform(df['sex'])
df['race']= label_encoder.fit_transform(df['race'])
df['native']= label_encoder.fit_transform(df['native'])
df['maritalstatus']= label_encoder.fit_transform(df['maritalstatus'])

In [25]:
df.head(3)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,38,2,11,9,0,4,1,2,1,0,0,40,3,<=50K
1,19,2,11,9,2,1,3,2,1,0,0,40,3,<=50K
2,19,2,11,9,2,1,3,2,1,0,0,40,3,<=50K

In [26]:
df.dtypes

age               int64
workclass         int32
education         int32
educationno       int64
maritalstatus     int32
occupation        int32
relationship      int64
race              int64
sex               int64
capitalgain       int64
capitalloss       int64
hoursperweek      int64
native            int64
Salary           object
dtype: object

In [ ]:
#TRAIN AND TEST SPLITS

In [28]:
from sklearn.model_selection import train_test_split
X_train,X_test=train_test_split(df,test_size = 0.25,random_state =40)

In [29]:
X_train=X_train.iloc[:,:-1]
y_train=X_train.iloc[:,-1]
X_test=X_test.iloc[:,:-1]
y_test=X_test.iloc[:,-1]

In [ ]:
#FEATURE SCALING

In [30]:
from sklearn.preprocessing import StandardScaler
s=StandardScaler()
X_train=s.fit_transform(X_train)
X_test=s.transform(X_test)

In [ ]:
#MODEL FITTING

In [38]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB as MB

In [32]:
nb=GaussianNB()

In [33]:
pred_gnb=nb.fit(X_train,y_train).predict(X_test)

In [ ]:
#CONFUSION MATRIX

In [35]:
from sklearn.metrics import confusion_matrix

In [36]:
confusion_matrix(y_test,pred_gnb) # Gaussian NAIVE_BAYES model

array([[   2,    0,    0],
       [   0,    0,    2],
       [   0,    0, 1474]], dtype=int64)

In [37]:
pd.crosstab(y_test.values.flatten(),pred_gnb)
np.mean(pred_gnb==y_test.values.flatten())

0.9986468200270636