In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [3]:
train=pd.read_csv("C:/Users/ARAVINDH/Downloads/SalaryData_Train.csv")
test=pd.read_csv("C:/Users/ARAVINDH/Downloads/SalaryData_Test.csv")

In [4]:
train.head(3)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [5]:
test.head(3)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K

In [6]:
train.shape

(30161, 14)

In [7]:
test.shape

(15060, 14)

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [9]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  object
 2   education      15060 non-null  object
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  object
 5   occupation     15060 non-null  object
 6   relationship   15060 non-null  object
 7   race           15060 non-null  object
 8   sex            15060 non-null  object
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  object
 13  Salary         15060 non-null  object
dtypes: int64(5), object(9)
memory usage: 1.6+ MB

In [11]:
train = pd.merge(train,test,)
train.head(3)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
1,19,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
2,19,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K

In [12]:
train.shape

(15552, 14)

In [13]:
train.workclass.unique()

array([' Private', ' Local-gov', ' Federal-gov', ' Self-emp-inc',
       ' Self-emp-not-inc', ' State-gov'], dtype=object)

In [14]:
train.education.unique()

array([' HS-grad', ' Some-college', ' Masters', ' Bachelors', ' 11th',
       ' 1st-4th', ' Assoc-acdm', ' Assoc-voc', ' 10th', ' 7th-8th',
       ' 9th', ' 12th', ' 5th-6th', ' Prof-school', ' Doctorate',
       ' Preschool'], dtype=object)

In [15]:
train.occupation.unique()

array([' Handlers-cleaners', ' Craft-repair', ' Machine-op-inspct',
       ' Transport-moving', ' Other-service', ' Prof-specialty',
       ' Exec-managerial', ' Sales', ' Adm-clerical', ' Tech-support',
       ' Protective-serv', ' Farming-fishing'], dtype=object)

In [16]:
train.relationship.unique()

array([' Not-in-family', ' Own-child', ' Husband', ' Wife', ' Unmarried',
       ' Other-relative'], dtype=object)

In [17]:
train.race.unique()

array([' White', ' Black', ' Asian-Pac-Islander'], dtype=object)

In [18]:
train.sex.unique()

array([' Male', ' Female'], dtype=object)

In [19]:
train.native.unique()

array([' United-States', ' Mexico', ' Philippines', ' Jamaica'],
      dtype=object)

In [20]:
train.maritalstatus.unique()

array([' Divorced', ' Never-married', ' Married-civ-spouse', ' Separated',
       ' Widowed'], dtype=object)

In [28]:
train.Salary.unique()

array([' <=50K', ' >50K'], dtype=object)

In [ ]:
#label categorical columns

In [59]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder() 
train['workclass']= label_encoder.fit_transform(train['workclass'])
train['education']= label_encoder.fit_transform(train['education'])
train['occupation']= label_encoder.fit_transform(train['occupation'])
train['relationship']= label_encoder.fit_transform(train['relationship'])
train['race']= label_encoder.fit_transform(train['race'])
train['sex']= label_encoder.fit_transform(train['sex'])
train['native']= label_encoder.fit_transform(train['native'])
train['maritalstatus']= label_encoder.fit_transform(train['maritalstatus'])
train['Salary']= label_encoder.fit_transform(train['Salary'])

In [60]:
train.dtypes

age              int64
workclass        int64
education        int64
educationno      int64
maritalstatus    int64
occupation       int64
relationship     int64
race             int64
sex              int64
capitalgain      int64
capitalloss      int64
hoursperweek     int64
native           int64
Salary           int32
dtype: object

In [61]:
train.head(3)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,38,2,11,9,0,4,1,2,1,0,0,40,3,0
1,19,2,11,9,2,1,3,2,1,0,0,40,3,0
2,19,2,11,9,2,1,3,2,1,0,0,40,3,0

In [ ]:
#TRAIN AND TEST DATA SPLIT

In [62]:
x_train,x_test = train_test_split(train, test_size = 0.25, random_state = 0)

In [63]:
x_train =x_train.iloc[:,:-1]
y_train =x_train.iloc[:,-1]
x_test = x_test.iloc[:,:-1]
y_test =x_test.iloc[:,-1]

In [ ]:
#Feature Scaling

In [64]:
sc = StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [ ]:
#SVC
#Linear Kernal

In [43]:
model=SVC(kernel = "linear")
model.fit(x_train,y_train)
pred_y=model.predict(x_test)

In [44]:
np.mean(pred_y==y_test)

1.0

In [ ]:
#POLY Kernal

In [65]:
model=SVC(kernel = "poly")
model.fit(x_train,y_train)
pred_y1=model.predict(x_test)

In [68]:
np.mean(pred_y1==y_test)

1.0

In [ ]:
#RBF Kernal

In [66]:
model=SVC(kernel = "rbf")
model.fit(x_train,y_train)
pred_y2=model.predict(x_test)

In [67]:
np.mean(pred_y2==y_test)

1.0

In [69]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((11664, 13), (11664,), (3888, 13), (3888,))

In [ ]:
#Grid search Cross validation

In [70]:
clf=SVC()
param_grid = [{'kernel':['rbf'],'gamma':[50,5,10,0.5],'C':[15,14,13,12,11,10,0.1,0.001] }]
gsv=GridSearchCV(clf,param_grid,cv=10)
gsv.fit(x_train,y_train)

C:\Users\ARAVINDH\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:670: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"

GridSearchCV(cv=10, estimator=SVC(),
             param_grid=[{'C': [15, 14, 13, 12, 11, 10, 0.1, 0.001],
                          'gamma': [50, 5, 10, 0.5], 'kernel': ['rbf']}])

In [72]:
gsv.best_params_ ,gsv.best_score_

({'C': 15, 'gamma': 0.5, 'kernel': 'rbf'}, 0.9993999509084148)

In [82]:
clf = SVC(C= 15, gamma =0.5)
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)

In [83]:
accuracy=accuracy_score(y_test,y_pred) * 100
accuracy

99.97427983539094

In [ ]:
#Confusion Matrix

In [84]:
confusion_matrix(y_test,y_pred)

array([[   0,    1],
       [   0, 3887]], dtype=int64)